@charset "UTF-8";
/*Archivo principal- Importación de partials*/
/*Empleo de Colores*/
/*Variables*/
/*Map de colores*/
/*Mixin aplicado a components: iframe e img*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /*Reseteo general*/
  font-family: 'Nunito Sans', sans-serif;
  /*nexo fuentes html aplicada a toda la página*/ }

/*Encabezado:logo y barra de navegación*/
ul {
  list-style-type: none;
  /*Quita viñetas*/ }

a {
  text-decoration: none;
  /*Quita el subrayado del link url*/ }

header {
  display: flex;
  /*Vuelve flexibles a los hijos*/
  background-color: #04262b;
  background-image: url(../assets/imagenes/trama.png);
  background-size: cover; }
  header div {
    width: 20%;
    /*logo ocupa el 20% del ancho, el resto la barra de navegación*/ }
    header div img {
      padding: 2%;
      width: 40%; }

nav {
  width: 80%;
  /*menu de navegación ocupa el 80% del ancho, el logo el 20%*/ }

.navegacion {
  display: flex;
  flex-wrap: wrap;
  /*Si no hay espacio suficiente, pondrá los elementos por debajo*/
  height: 100%;
  justify-content: space-evenly;
  align-items: center; }
  .navegacion li a {
    padding: 2%;
    background-color: #04262b;
    border: solid 1px #917b2c;
    font: bold;
    font-size: 2rem;
    color: #e3826d;
    /*aplicación de map*/ }
    .navegacion li a:hover {
      background-color: #917b2c;
      border: double 4px #e3826d;
      /*aplicación de map*/
      color: #04262b; }

/*footer- pie de pagina*/
footer {
  display: flex;
  width: 100%;
  background-color: #04262b;
  align-items: center; }
  footer div {
    width: 33%; }
    footer div a {
      display: flex;
      justify-content: center; }
    footer div img {
      padding: 5%;
      width: 25%; }

/*Datos de contacto con la empresa:*/
.contacto {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 3%;
  color: #917b2c;
  /*aplicación de map*/
  font-size: 1.5rem;
  font-style: italic; }
  .contacto P {
    padding: 0%; }

/*Logos redes sociales*/
.redes_sociales {
  display: flex;
  width: 40%;
  justify-content: space-evenly;
  align-items: center; }

i {
  font-size: 6rem;
  color: #e3826d;
  /*aplicación de map*/ }

.redes_sociales li a :hover {
  color: #917b2c;
  /*aplicación de map*/ }

/*espacio principal de cada página*/
main {
  background-color: #004242; }
  main section p {
    text-align: center;
    padding: 7%;
    font-size: 3rem;
    font: normal;
    color: #917b2c;
    /*aplicación de map*/ }

/*Aplicado a galeria de imágenes page: shootings */
.container-fluid {
  background-color: #004242;
  justify-content: center;
  align-items: center; }
  .container-fluid img {
    padding: 4%;
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto; }

/**Grids para intro de galeria, page shootings**/
#introshooting {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 30% 70%;
  grid-template-areas: "foto   titulo" "foto   texto"; }

/**Áreas del grid**/
/**Título**/
h2 {
  grid-area: titulo;
  justify-self: center; }

/**coctelera animada:**/
img {
  grid-area: foto;
  padding: 5%;
  width: 50%;
  justify-self: center; }

/**Texto**/
p {
  grid-area: texto;
  justify-self: center; }

/**Grids para page servicios**/
#catasPrivadas {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 30% 70%;
  grid-template-areas: "foto   titulo" "foto   texto"; }

/**Áreas del grid**/
h2 {
  grid-area: titulo;
  justify-self: center; }

img {
  grid-area: foto;
  padding: 3%;
  width: 70%;
  justify-self: center; }

p {
  grid-area: texto;
  justify-self: center; }

#asesoramiento {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 30% 70%;
  grid-template-areas: "foto   titulo" "foto   texto"; }

/**Áreas del grid**/
h2 {
  grid-area: titulo;
  justify-self: center; }

img {
  grid-area: foto;
  padding: 3%;
  width: 70%;
  justify-self: center; }

p {
  grid-area: texto;
  justify-self: center; }

#fiestasPrivadas {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 30% 70%;
  grid-template-areas: "foto   titulo" "foto   texto"; }

/**Áreas del grid**/
h2 {
  grid-area: titulo;
  justify-self: center; }

img {
  grid-area: foto;
  padding: 3%;
  width: 70%;
  justify-self: center; }

p {
  grid-area: texto;
  justify-self: center; }

#ventas {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 30% 70%;
  grid-template-areas: "foto   titulo" "foto   texto"; }

/**Áreas del grid**/
h2 {
  grid-area: titulo;
  justify-self: center; }

img {
  grid-area: foto;
  padding: 3%;
  width: 70%;
  justify-self: center; }

p {
  grid-area: texto;
  justify-self: center; }

/**Grids para page nosotros**/
#nosotros {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 30% 70%;
  align-items: center;
  grid-template-areas: "titulo   titulo" "foto   texto"; }

/**Áreas del grid**/
h2 {
  grid-area: titulo;
  justify-self: center; }

img {
  grid-area: foto;
  padding: 15%;
  width: 100%;
  justify-self: center; }

p {
  grid-area: texto;
  justify-self: center;
  padding: 10%; }

#formulario {
  padding: 2%;
  color: #917b2c;
  font-size: 2rem;
  font-style: italic;
  font-weight: bolder; }

/*video youtube del inicio*/
.iframe_principal {
  display: flex;
  justify-content: center;
  background-color: #004242;
  height: 100vh; }
  .iframe_principal iframe {
    width: 70%;
    /*Aplicación de mixin*/ }

#imagen_formulario {
  display: flex;
  width: 100%;
  /*Aplicación de mixin*/
  justify-content: center; }

/*Titulos con jerarquía*/
h1 {
  text-align: center;
  background-color: #004242;
  padding: 3%;
  font-size: 6rem;
  color: #917b2c;
  /*aplicación de map*/
  font: bold; }

h2 {
  text-align: center;
  background-color: #004242;
  padding: 3%;
  font-size: 5rem;
  color: #917b2c;
  /*aplicación de map*/
  font: bold; }

h3 {
  text-align: center;
  background-color: #04262b;
  padding: 3%;
  font-size: 4rem;
  color: #e3826d;
  /*aplicación de map*/
  font: bold; }

/**Media desktop first--------------------------------------------------------------------------------------------**/
/**Para Tablets, esta medida o valores menores:**/
@media screen and (max-width: 1024px) {
  header div {
    width: 20%; }
    header div img {
      padding: 2%;
      width: 100%; }
  nav {
    width: 80%; }
  .navegacion li a {
    padding: 2%;
    border: solid #917b2c;
    /*aplicación de map*/
    font-size: 1rem; }
    .navegacion li a:hover {
      background-color: #917b2c;
      /*aplicación de map*/
      border: double 7px #e3826d;
      /*aplicación de map*/
      color: #04262b; }
  /*Iframe sección principal index*/
  .iframe_principal {
    height: 50vh; }
  /*Titulos sección principal*/
  h1 {
    padding: 3%;
    font-size: 3rem; }
  h2 {
    padding: 3%;
    font-size: 2rem; }
  h3 {
    padding: 3%;
    font-size: 2rem; }
  main section p {
    padding: 7%;
    font-size: 1.5rem; }
  #formulario {
    font-size: 1rem; }
  #introshooting p {
    font-size: 1rem; }
  #catasPrivadas p {
    font-size: 1rem; }
  #asesoramiento p {
    font-size: 1rem; }
  #fiestasPrivadas p {
    font-size: 1rem; }
  #ventas p {
    font-size: 1rem; }
  #nosotros p {
    font-size: 0.7rem; }
  /*footer- pie de pagina*/
  footer {
    display: flex;
    width: 100%; }
    footer div {
      width: 40%; }
      footer div img {
        padding: 5%;
        width: 40%; }
  .contacto {
    font-size: 10px;
    font-weight: bold; }
  i {
    font-size: 40px; } }

/**Para Celulares, esta medida o valores menores:**/
@media screen and (max-width: 479px) {
  .navegacion li a {
    padding: 1%;
    border: solid #917b2c;
    /*aplicación de map*/
    font-size: 70%; }
  /*Iframe sección principal index*/
  .iframe_principal {
    height: 50vh; }
  /*Titulos sección principal*/
  h1 {
    font-size: 1.5rem; }
  h2 {
    font-size: 1rem; }
  h3 {
    font-size: 1rem; }
  main section p {
    font-size: 1rem; }
  #formulario {
    font-size: 0.75rem; }
  #introshooting p {
    font-size: 0.5rem; }
  #catasPrivadas p {
    font-size: 0.5rem; }
  #asesoramiento p {
    font-size: 0.5rem; }
  #fiestasPrivadas p {
    font-size: 0.5rem; }
  #ventas p {
    font-size: 0.5rem; }
  #nosotros {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10% 50% 20%;
    grid-row-gap: 5vh;
    align-items: center;
    grid-template-areas: "titulo" "foto" "texto"; }
    #nosotros h2 {
      grid-area: titulo;
      justify-self: center; }
    #nosotros img {
      grid-area: foto;
      padding: 0%;
      width: 50vh;
      justify-self: center; }
    #nosotros p {
      grid-area: texto;
      justify-self: center;
      padding: 5%;
      font-size: 0.5rem; }
  /*
    #nosotros {
        p {
            font-size: 0.5rem;
        }
    }


    /*footer- pie de pagina*/
  footer div {
    width: 40%; }
    footer div img {
      padding: 2%;
      width: 50%; }
  .contacto {
    font-size: 7px;
    font-weight: bold; }
  i {
    font-size: 1.5rem; } }

/*-----------------------------------------------------------------------------------------------------------------*/
