/*video youtube del inicio*/
.iframe_principal {
    display: flex;
    justify-content: center;
    background-color: $secondary;
    height: 100vh;

    & iframe {
        @include ancho (70%);
        /*Aplicación de mixin*/
    }
}