/**Media desktop first--------------------------------------------------------------------------------------------**/

/**Para Tablets, esta medida o valores menores:**/
@media screen and (max-width:1024px) {

    header div {
        width: 20%;

        img {
            padding: 2%;
            width: 100%;
        }
    }

    nav {
        width: 80%;
    }

    .navegacion {
        li {
            a {
                padding: 2%;
                border: solid map-get($color_detalle, dorado);
                /*aplicación de map*/
                font-size: 1rem;

                &:hover {
                    background-color: map-get($color_detalle, dorado);
                    /*aplicación de map*/
                    border: double 7px map-get($color_detalle, salmon);
                    /*aplicación de map*/
                    color: $primary;
                }
            }
        }
    }

    /*Iframe sección principal index*/
    .iframe_principal {
        height: 50vh;
    }

    /*Titulos sección principal*/
    h1 {
        padding: 3%;
        font-size: 3rem;
        ;
    }

    h2 {
        padding: 3%;
        font-size: 2rem;
    }

    h3 {
        padding: 3%;
        font-size: 2rem;
    }

    main {
        section {
            p {
                padding: 7%;
                font-size: 1.5rem;
            }
        }
    }

    #formulario {
        font: {
            size: 1rem;
        }

    }

    #introshooting {
        p {
            font-size: 1rem;
        }
    }

    #catasPrivadas {
        p {
            font-size: 1rem;
        }
    }

    #asesoramiento {
        p {
            font-size: 1rem;
        }
    }

    #fiestasPrivadas {
        p {
            font-size: 1rem;
        }
    }

    #ventas {
        p {
            font-size: 1rem;
        }
    }

    #nosotros {
        p {
            font-size: 0.7rem;
        }
    }



    /*footer- pie de pagina*/

    footer {
        display: flex;
        width: 100%;

        div {
            width: 40%;

            img {
                padding: 5%;
                width: 40%;
            }
        }
    }

    .contacto {
        font: {
            size: 10px;
            weight: bold;
        }
    }

    i {
        font-size: 40px;
    }

}




/**Para Celulares, esta medida o valores menores:**/
@media screen and (max-width:479px) {

    .navegacion {
        li {
            a {
                padding: 1%;
                border: solid map-get($color_detalle, dorado);
                /*aplicación de map*/
                font-size: 70%;
            }
        }
    }

    /*Iframe sección principal index*/
    .iframe_principal {
        height: 50vh;
    }

    /*Titulos sección principal*/
    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1rem;
    }

    h3 {
        font-size: 1rem;
    }

    main {
        section {
            p {
                font-size: 1rem;
            }
        }
    }


    #formulario {
        font: {
            size: 0.75rem;
        }

    }

    #introshooting {
        p {
            font-size: 0.5rem;
        }
    }

    #catasPrivadas {
        p {
            font-size: 0.5rem;
        }
    }

    #asesoramiento {
        p {
            font-size: 0.5rem;
        }
    }

    #fiestasPrivadas {
        p {
            font-size: 0.5rem;
        }
    }

    #ventas {
        p {
            font-size: 0.5rem;
        }
    }

    #nosotros {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 10% 50% 20%;
        grid-row-gap:5vh;
        align-items: center;
        grid-template-areas: "titulo"
            "foto"
            "texto";


        h2 {
            grid-area: titulo;
            justify-self: center;
        }

        img {
            grid-area: foto;
            padding: 0%;
            width: 50vh;
            justify-self: center;
        }

        p {
            grid-area: texto;
            justify-self: center;
            padding: 5%;
            font-size: 0.5rem;
        }
    }

    /*
    #nosotros {
        p {
            font-size: 0.5rem;
        }
    }


    /*footer- pie de pagina*/

    footer {
        div {
            width: 40%;

            img {
                padding: 2%;
                width: 50%;
            }
        }
    }

    .contacto {
        font-size: 7px;
        font-weight: bold;
    }

    i {
        font-size: 1.5rem;
    }

}

/*-----------------------------------------------------------------------------------------------------------------*/